gradio
pandas
seaborn
transformers
numpy
scikit-learn
gdown
tabulate
torch
scipy









# datasets>=2.14.5
# transformers>=4.11.2
# huggingface-hub>=0.0.17s
# wordcloud>=1.8.1
# matplotlib>=3.4.3
# google-colab>=1.0.0
# datasets
# transformers
# huggingface-hub
# wordcloud
# matplotlib
# google-colab

